textarea {
    resize: none;
}

.textarea-container {
    position: relative;
}

.textarea-container #close {
    position: absolute;
    top: 0;
    right: 0;
}

.textarea-container #copyToClipboard {
    position: absolute;
    top: 0;
    right: 30px;
}

.title {
    font-weight: 500;
}

textarea[readonly] {
    background-color: red;
    border: 0;
    font-size: 1em;
}